



body {
    background-color: #FFF
    font-family: "Quicksand";
    

} 

/* navigatie */
a {
	text-decoration: none;
}
h1{
    padding-top: 2rem;
    padding-bottom: 2rem
} 

.et-hero-tabs,
.balk_navigatie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 50vh; */
    position: relative;
    background: #FFF;
		text-align: center;
		padding: 0 2em;
    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
        text-align: center;

    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
    
}

.navigatie{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }

} 

.tekst-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;
	  &:hover {
			color:white;
      background: rgba(102,177,241,0.8);
			transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
	.tekst-nav
	.balk_navigatie {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
	}
	.tekst-nav {
		font-size: 1rem;
	}
  
  .tekst-nav:hover {
   background-color: rgb(54, 111, 102);
   opacity: 0.2;
   color: #fff;
  } 
}

.tekst-uitlijnen {
    width: 800px;
    display: block
}

.logo_cb {
    background-image: url(../!)àp
}


/* kaders kleuren (styleguide) */
    
.kader1 {
    color: rgba(254, 217, 183, 1);
    border: 3px solid rgba(217, 236, 230, 1);
    height: 400px;
    width: 500px;
    background-color: rgb(47,66, 72);
     text-indent: -999px;
}

.kader2 {
    color: rgba(254, 217, 183, 1);
    border: 3px solid rgba(217, 236, 230, 1);
    height: 400px;
    width: 300px;
    background-color: rgb(54, 106, 107);
     text-indent: -999px;
}

.kader3 {
    color: rgba(254, 217, 183, 1);
    border: 3px solid rgba(217, 236, 230, 1);
    height: 400px;
    width: 300px;
    background-color: rgb(54, 106, 107);
    opacity: 0.5;
     text-indent: -999px;
}

.kader4 {
    color: rgba(254, 217, 183, 1);
    border: 3px solid rgba(217, 236, 230, 1);
    height: 400px;
    width: 300px;
    background-color:rgb(54, 111, 102);
    opacity: 0.2;
    text-indent: -999px;
}


/* contactformulier */
body {
  background-color: #FFF;
  font-family: "Quicksand";
  font-weight: 300;
  color: #34495e;
  font-size: .9em;
}

.form {
  width: 450px;
  margin:auto;
  background: white;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 6em;
  padding: 1.25em;
}

/*
h3 {
  font-size: 1.98em;
  margin-bottom: .8em;
  margin-top: .4em;
  font-weight: 100;
} */

.knop-verzenden {
  box-shadow: 0; 
  border: none; 
  background-color: rgb(54, 106, 107);
  opacity: 0,5
  border-color: rgb(54, 106, 107);
  color: #ffffff;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  width: 30%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: .55em;
  display: inherit;
}


.knop-verzenden:hover {
  background-color: rgb(54, 111, 102);
  opacity: 0.6
}

.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}

.input-field-icon {
  color: #bfc9ca;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: .6s;
} 
.kader {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 0;
  background: white;
  font-size: 15px;
  line-height: 1.467;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
} 



/* Grootte + specificaties */
input, textarea {
  transition: all 800ms;
  font-family: "Quicksand";
  resize: none;  /* removes the resize handle */
  overflow: auto; /* removes default scrolling bars in IE */
  outline:none; 
  font-family:"Quicksand"; 
  box-sizing:border-box;
  width: 100%;
  padding: 0px 4px;
  color: rgb(54, 106, 107);
  margin-top: 1.25em;
}



/* Lijntje onder invulbalk */
input:focus, textarea:focus {
  border-color: #48c9b0;
  color: #34495e;
} 


/* titel */
a.naam {
    background-image: url(../assets/images/artsine.png);
    display:block; 
    width:520px;
    height:255px;
    text-indent: -999px;
    margin: 0 auto;
    background-repeat: no-repeat;
    
}



/* afbeelding motor*/
.motor {
    background: url(../assets/images/motor.png) no-repeat;
    display:block;
    width: 500px;
    height:700px;
    text-indent: -10000px;
    margin: 0 auto;
    background-size: contain;
    background-position: center; 
    border: 1px solid black;
    /*margin: 80px 0 0 400px; /* boven rechts onder links */
    
      
}



/* Stook moto */

.blauw_vlak {
    position: relative;
    text-align: center;
    background: rgba(54, 111, 102, 0.15);
    width: 100%;
    height: 350px;
    margin-top: -130px;

}

.blauw_vlak1 {
    position: relative;
    text-align: center;
    background: rgba(54, 111, 102, 0.15);
    width: 100%;
    height: 350px;
    margin-top: 40px;

}

.blauw_vlak2 {
    position: relative;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 350px;
    margin-top: 40px;

}

.tekst_links{
    position: relative;
    text-align: left;
    padding: 70px;
    margin-right: 40px;

}
 
.tekst_rechts{
    position: relative;
    text-align: right;
    padding: 70px;
    margin-left: 40px;
}


hr{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 900px;
    

}

.stylguide_tekst {
    margin: 0 auto;

}

.voorbeeld_website1 {
    background: url(../assets/images/voorbeeld_website1.png) no-repeat; 
    display:block;
    width: 500px;
    height:700px;
    text-indent: -10000px;
    margin: 0 auto;
    background-size: contain;
    background-position: center; 
}



/* kaders over ons */
.kdr_ons1 {
    position: relative;
    display: block;
    height: 200px;
    width: 80px;
    border: 1px solid black;
    margin-top: 70px;
    
}

.kdr_ons2 {
    position: relative;
    display: block;
    height: 300px;
    width: 180px;
    border: 1px solid black;
    margin-top: 30px;
      
}
.team {
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin-top: 40px;
    padding-right: 30px;
    display: flex
}

.persoon1 {
    background-image: url(../assets/images/persoon1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border:none;
}

.persoon2 {
    background-image: url(../assets/images/persoon2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border:none;
}

.persoon3 {
    background-image: url(../assets/images/persoon3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border:none;
}

.personen_overons {
    background-image: url(../assets/images/personen.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border:none;
}
/* kaders pagina diensten */

.studio {
    background-image: url(../assets/images/studio.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border:none;
}

.ontwerpen {
    background-image: url(../assets/images/ontwerpen.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border:none;
} 

.bureau {
    background-image: url(../assets/images/bureau.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border:none;
}
/* vakjes opmaak van index en projecten*/

.wrapper {
    height: 1100px;
    width: 100%;
    border: 1px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.group {
 display: flex;
 justify-content: space-between;
 width: 22%;
 height:  100%;
 border: 1px ;
 flex-wrap: wrap; /* einde lijn naar volgende lijn */
 margin-right: 3%; 
}

.klein {
    height: 200px;
    width: 100%;
    border: 1px solid rgb(151, 184, 186);     
}

.groot {
    height: 400px;
    width: 100%;
    border: 1px solid rgb(151, 184, 186);
}

#motor {
    background-image: url(../assets/images/motor.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#motor > a {
width: 100%;
height: 100%;
}

/* foto's en kleuren index pagina */
.blauw1 {
    background-color:rgb(54, 111, 102);
    opacity: 0.4;
    border: hidden;
}

.parfum {
    background-image: url(../assets/images/parfum.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: hidden;
}

.peren {
    background-image: url(../assets/images/peren_rechthoek.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.steltloper {
    background-image: url(../assets/images/steltloper.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.personen2 {
    background-image: url(../assets/images/personen2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    opacity: 0.7;
}

.explosie {
    background-image: url(../assets/images/explosie.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.blauw2 {
    background-color: rgb(54, 106, 107);
    opacity: 0.5;
    border: hidden;
}

.bureau3 {
    background-image: url(../assets/images/bureau1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: hidden;
    opacity: 0.7;
}

.bureau2 {
    background-image: url(../assets/images/bureau2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: hidden;
    opacity: 0.7;
}

.tegenlicht {
background-image: url(../assets/images/tegenlicht.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: hidden;
    opacity: 0.è;
}

.personen {
    background-image: url(../assets/images/personen.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: hidden;
    opacity: 0.7;
}

.camille {
    background-image: url(../assets/images/camille.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: hidden; 
}
.tekst_kader1 {
    text-align: center;
    margin: O auto;
    display: block;
    margin-top: 150px;  
    
}

.tekst_kader2 {
    text-align: center;
    margin: O auto;
    display: block;
    margin-top: 65px;  
}

.tekst_kader3 {
    text-align: center;
    margin: O auto;
    display: block;
    margin-top: 50px;  
}

.tekst_kader4 {
    text-align: center;
    margin: O auto;
    display: block;
    margin-top: 50px;  
}

/* foto's en teksten kaders in pagina projecter */

.tine {
     background-image: url(../assets/images/tine.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: hidden; 

}

/* Contact pagina */
.blauw_vlak3 {
    position: relative;
    text-align: center;
    background: rgba(54, 111, 102, 0.10);
    width: 100%;
    height: 500px;
    margin-top: 40px;

}



/* Footer */

footer {
    margin: 0 20px;
    border-top: 1px solid black;
    padding: 40px 0 ;

}
.footer_tekst {
    border-right: 1px solid rgb(54, 111, 102);  
    text-align: center;
}

.footer_tekst:last-child {
    border-right: 0;
    
}
.sociale_media {
    border: 1px solid rgb(47,66, 72);
    width: 35px;
    height: 35px;
    display: flex;
    margin-right: 10px;
}

.sociale_media >p {
    margin: auto;
    font-size: 24px;
    
}
  
.iconen {
    display: flex;
    flex-direction: row;
}

.tekst {
    margin-top: 25px;
}

.footer_diensten {
    margin-top: 60px;
}

footer_overons {
    margin-top: 60px;
}